body{

}
/* background irá mudar a cor de fundo do body(pagina inteira), utilizando a linguagem hexadecimal*/
#banner{ /* identidade da tag a ser alterada */
    width: 100%;
}

.principal{
    background: gray;
    padding: 30px;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
/* irá fazer com que todos os paragrafos se alinhem no centro da pagina*/
em strong{
    color: rgb(255,0,0);
}

.itens{
    font-style: italic;
}

.beneficios{
    background: white;
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;

}

/* faz com que todos os caracteres em um "strong" no qual está dentro de um "em" fiquem na cor vermelha*/

/* Como funciona o estilo em cascata do CSS? - Tudo que eu adiciono no elemento pai reflete nos elementos filhos*/
/* De que maneiras eu posso representar cores no CSS? - Hexadecimal #FF0000, rgb(255,0,0) e com os nomes das cores(red)*/
/*Propriedade para se alterar a largura do elemento - O width é a propriedade que devemos manipular para alterar a largura do elemento*/